@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Lobster&family=Lora:wght@400;500;600;700&family=Montserrat:wght@300&family=Nunito+Sans:wght@400;700&family=PT+Sans&family=Poppins&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}